@import url(styles/header.css);
:root{
    --cor-de-fundo: #ebecee;
    --branco: #ffffff;
    --amarielo: #daca19;
    --roxo: #ee13ee;
    --font-principal: "poppins";
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}
